.relatedproducts {
  margin: 60px 170px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.relatedproducts h1 {
  font-size: 26px;
  font-weight: 600;
}

.relatedproducts hr {
  width: 120px;
  height: 3px;
  border: none;
  background: #ff7e00;
  border-radius: 4px;
}

/* Items grid */
.relatedproducts-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
