.shop-category {
  width: 100%;
}

/* Banner */
.shop-category-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

/* Header row */
.shop-category-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 170px;
}

/* Sort button */
.shop-category-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.shop-category-indexSort p span {
  font-weight: 600;
}

/* Product grid */
.shop-category-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 80px;
  column-gap: 25px;
}

/* Ensure item spacing is correct */
.shop-category-products .item {
  margin: 0;
}

.shop-category-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 40px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
