.offers {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #ede1ff 0%, #e1ffea22 60%);
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1{
 color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
  width: 280px;
  padding: 14px 26px;
  border-radius: 35px;
  margin-top: 30px;
  border: none;
  background: #ff4141;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  cursor: pointer;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}