/* MAIN NAVBAR */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 20px;
  box-shadow: 0 1px 3px -2px black;
  background: white;
}

/* LOGO + NAME */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 45px;
}

.nav-logo p {
  color: black;
  font-size: 38px;
  font-weight: 600;
}

/* MENU LINKS */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu li:hover {
  color: black;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;
}

/* LOGIN + CART SECTION */
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 90px;
  padding: 8px 0;
  border-radius: 20px;
  border: 1px solid #7a7a7a;
  background: white;
  color: #515151;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

/* CART WRAPPER (ICON + DOT) */
.nav-cart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-cart-wrapper img {
  width: 35px;
}

/* CART ITEM COUNT DOT */
.nav-cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;

  background: red;
  color: white;
  border: 2px solid white;
}
