.footer {
  margin-top: 120px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 120px;
}

.footer-logo p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #171717;
}

/* -------- LINKS -------- */
.footer-links {
  list-style: none;
  display: flex;
  gap: 35px;
  margin-top: 25px;
  padding: 0;
}

.footer-links li {
  font-size: 16px;
  color: #4b4b4b;
  cursor: pointer;
  transition: 0.2s;
}

.footer-links li:hover {
  color: #ff4141;
}

/* -------- SOCIAL ICONS -------- */
.footer-social-icons {
  display: flex;
  gap: 18px;
  margin-top: 25px;
}

.footer-icon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.footer-icon-container img {
  width: 22px;
}

.footer-icon-container:hover {
  transform: scale(1.05);
  border-color: #ff4141;
}

/* -------- COPYRIGHT -------- */
.footer-copyright {
  margin-top: 25px;
  text-align: center;
}

.footer-copyright p {
  color: #6a6a6a;
  font-size: 14px;
}
