.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

/* LEFT SECTION */
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
  line-height: 1.1;
}

/* small title */
.hero-left h2 {
  color: #090909;
  font-size: 18px;
  font-weight: 600;
}

/* NEW + HAND ICON */
.hand-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hand-icon p {
  font-size: 60px;
  font-weight: 800;
}

.hand-icon img {
  width: 45px;
}

/* MAIN TEXT */
.hero-left > p {
  color: #171717;
  font-size: 56px;
  font-weight: 800;
}

/* BUTTON */
.hero-latest-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 14px 26px;
  border-radius: 40px;
  margin-top: 20px;

  background: #ff4141;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* RIGHT SECTION */
.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right img {
  width: 430px;
  object-fit: contain;
}
